@{
    var db = Database.Open("WebPagesMovies");
    var selectedData = db.Query("SELECT * FROM Bilar");
    var grid = new WebGrid(source: selectedData, rowsPerPage: 1);
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Bilar</title>
        <style type="text/css">
            .grid { margin: 4px; border-collapse: collapse; width: 600px; }
            .grid th, .grid td { border: 1px solid #C0C0C0; padding: 5px; }
            .head { background-color: #E8E8E8; font-weight: bold; color: #FFF; }
            .alt { background-color: #E8E8E8; color: #000; }
</style> 
    </head>
    <body>
        <h1>Movies</h1>
            <div>
                @grid.GetHtml(
                     tableStyle: "grid",
                     headerStyle: "head",
                     alternatingRowStyle: "alt",
                      columns: grid.Columns(
                      grid.Column("Märke"),
                      grid.Column("Modell"),
                      grid.Column("Tillverkning"),
                      grid.Column("Antal Ägare")
    )
)
            </div>
    </body>
</html>
