<link rel="stylesheet" type="text/css" href="~/Meny-CSS/Default_info.css"/>
<div id="Rubrik_Default"><h2>Välkomna till CarsForPeople!</h2></div>

<div id="info_default">
        <div id="first">
            <img alt="img..." src="http://www.stancenation.com/wp-content/uploads/2012/12/103.jpg"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Donec libero urna, vulputate eu tortor sed, mattis semper sem. 
                Mauris in sollicitudin elit, non porta magna. Duis at vulputate urna. 
                Fusce molestie bibendum dolor, id euismod turpis gravida vel. 
                Donec at mauris ac ante tristique malesuada. 
                Maecenas quis hendrerit erat. Cras pretium suscipit augue quis facilisis. 
                Quisque non magna sed nisl aliquam molestie vehicula non felis.
            </p>
        </div>
        <div id="second">
           
            <p></p>
        </div>
        <div id="third">
            <p></p>
        </div>
</div>