@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

<div id="wrapper">
    <div id="block_wrapper_2"></div>
    <div id="block_wrapper_1"></div>    
</div>
<div id="wrapper_2">
    <div id="block_wrapper_4"></div>
    <div id="block_wrapper_3"></div>   
</div>
<div id="wrapper_3">
    <div id="block_wrapper_6"></div>
    <div id="block_wrapper_5"></div>   
</div>
