body {
    background-color:#46C7C7;
}
#navbar {
    position: relative;
	top: 10px;
	background-color: #3c4543;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
    
    /*nytt*/
    margin: 0 auto;
    width: 500px;
    text-align: center;
    
}
ul{
	list-style: none;
    
    /*Nytt*/
    display: block;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
	border: 1px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: black;
	padding: 1px;
	border-radius: 2px 2px;
	background-color: gray;
    text-align: center;


}
img {
   margin:0 auto;
   display:block;
   border: 5px solid black;
   border-radius:5px;
   position:relative;
}

