<link rel="stylesheet" type="text/css" href="~/Meny-CSS/StyleSheet_fotoalbum.css"/>
<ul class="bxslider">
  
  <li><img src="../images/pic2.jpg" alt="Pic"/></li>
  <li><img src="../images/pic3.jpg" alt="Pic"/></li>
  <li><img src="../images/pic4.jpg" alt="Pic"/></li>
  
  <li><img src="../images/pic6.jpg" alt="Pic"/></li>
  <li><img src="../images/pic7.jpg" alt="Pic"/></li>
  <li><img src="../images/pic8.jpg" alt="Pic"/></li>


</ul>