<link rel="stylesheet" type="text/css" href="~/Meny-CSS/StyleSheet_Forum.css"/>
@{
    var InläggNamn="";
    var InläggTitle="";
    var InläggKategori="";
    var InläggPlats="";
    var InläggText="";

    if(IsPost){
       InläggNamn=Request["formNamn"];
       InläggTitle=Request["formTitle"];
       InläggKategori=Request["formKategori"];
       InläggPlats=Request["formPlats"];
       InläggText=Request["formText"];

       var SQLINSERT = "INSERT INTO posts (Namn, Title, Kategori, Plats, Text) VALUES (@0, @1, @2, @3, @4)";
       var db = Database.Open("Inlägg");
       db.Execute(SQLINSERT, InläggNamn, InläggTitle, InläggKategori, InläggPlats, InläggText);
       Response.Redirect("~/Meny/Forum.cshtml");
   }

}

<div class="Rubrik_Inlägg"><h1>SKAPA NYTT INLÄGG.</h1>
<form action="" method="post">
    <p class="Input">Användare:<br/><input type="text" name="formNamn"/></p>
    <p class="Input">Title<br/><input type="text" name="formTitle"/></p>
    <p class="Input">Kategori:<br/><select name="formKategori">
            <option value="Billjud">Billjud</option>
            <option value="Elektronik">Elektronik</option>
            <option value="Motor och tuning">Motor och tuning</option>
            <option value="Styling">Styling</option>
            <option value="Skötsel">Skötsel</option>
            <option value="Tips & Råd">Tips & Råd</option>
            <option value="Event">Evenemang</option>
        </select></p>
    <p class="Input">Plats:<br/><input type="text" name="formPlats"/></p>
    <p class="Input">Text:<br/><input type="text" name="formText"/></p>
    <p><input type="submit" value="Skapa Inlägg"/></p>
</form>
</div>