@{
    var id = Request["ID"];
    var SQLSELECT = "SELECT * FROM posts where ID=@0";
    var db = Database.Open("Inlägg");
    var Inlägg = db.QuerySingle(SQLSELECT, id);
    var InläggTitle=Inlägg.Title;
    if(IsPost)
    {
        var SQLDELETE = "DELETE FROM posts WHERE ID=@0";
        db.Execute(SQLDELETE, id);
        Response.Redirect("~/Meny/Forum.cshtml");
    }
}

<h2>Radera ditt inlägg!</h2>
<p>Är du säker på att du vill radera <strong>@InläggTitle</strong></p>
<form action="" method="post">
    <input type="submit" value="Yes"/>
    <input type="button" value="No" onclick="window.location = '~/Meny/Forum.cshtml'"/>
</form> 