#Rubrik_Default {
    font-size: 15px;
    border: 2px solid black;
    border-radius: 4px;
    color: #fff;
    width: 60%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 5px;
}

#first img {
    float: left; 
    width: 30%; 
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 20px;
    
}
#first p {
    width: 100%;
    left:90px; 
    margin-right: 100px;
    
}
 
  
